* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer {
  width: 100%;
  bottom: 0;


  #container {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(71, 71, 71);


    p {
      color: #fff;
      opacity: 50%;
    }

    img {
      width: 50px;
      opacity: 50%;
    }

    li {
      list-style-type: none;
      opacity: 50%;
    }
    li > a {
      color: white;
      opacity: 50%;
    }
  }
}
