<section>
  <div class = "content">
    <div class = "headerContainer">
      <div class = "title">
        <h1>Bem vindo a <span>UPTEC</span></h1>
      </div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="d-block w-100">Peças em Aço Inox</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100">Manutenção Industrial</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100">Caldeiraria Leve</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="apresentation">

      <div class="apresentationContainer">

        <div class="apresentationText">
          <p>Nosso negócio proporciona aos nossos clientes <span>soluções</span> únicas, seguras, eficiêntes e rápidas, através de materiais e mão de obra qualificada.</p>
          <p>Atuamos dentro de nossa base <span>tecnológica</span> e <span>mercadológica</span> visando a constante melhoria dos nossos trabalhos.</p>
          <p>Buscamos vantagens competitiva que garantam a <span>rentabilidade</span> e o crescimento necessário para a continuidade dos negóios.</p>
        </div>

        <div id="slide" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../../assets/Prancheta 1.png"  alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/Prancheta 1.png"  alt="Segundo Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/Prancheta 1.png" alt="Terceiro Slide">
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


