<section>
      <div id="headerContainer">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="d-block w-100">Peças em Aço Inox</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100">Manutenção Industrial</p>
            </div>
            <div class="carousel-item">
              <p class="d-block w-100">Caldeiraria Leve</p>
            </div>
          </div>
        </div>
      </div>

      <div id="sectionContainer">
        <div id="sideBox">
          <h1>Vamo dar um <span>UP</span>?</h1>
          <button>Vem Comigo</button>
        </div>
          <div id="slideBox" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/usinagem-1.jpg"  alt="">
              </div>
            </div>
          </div>
      </div>

      <div id="aboutContainer">
        <h1>Sobre Nós</h1>
        <p>Somos especializados em montagem industrial, atuando também com usinagem tecnica e desenvolvimento de projeotos mecanicos</p>
      </div>

      <div id="clientsBox">
        <h1>Nossos Clientes</h1>
          <div class="clientGroup">
              <img src="../../../assets/clientLogos/adecol.jpg" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/ambev.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/bananinha.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/basf.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/empresawana.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/eurocel.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/hbfuller.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/mars.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/rohm hass.png" class="img-thumbnail" alt="...">
              <img src="../../../assets/clientLogos/topcal.jpg" class="img-thumbnail" alt="...">
          </div>
      </div>
</section>


