
/** Resentando configurações **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100%;

  #headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 400px;

    color: #fff;

    background-image: linear-gradient(to right, rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/industria16.png');
    background-size: contain, cover;
    background-position: center top;

    #carouselExampleFade {
        font-size: 64px;
    }
  }

  #sectionContainer {
    display: flex;
    width: 100%;
    height: 400px;
    padding: 1rem 2rem;

    align-content: center;
    justify-content: space-evenly;

    #sideBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;

      button {
        margin-top: 1rem;
        background-color: #2CADF5;
        color: #fff;
        border-radius: 30px;
        padding: 0.5rem 3rem;
        border: 0;
        outline: 0;

      }
      span {
        background: #0085FF;
        background: linear-gradient(to right, #0085FF 0%, #132BFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    #slideBox{
      display: block;
      width: 50%;
      height: 100%;


      .carousel-inner {
        .carousel-item{
          display: flex;
          justify-content: center;

          img {
            width: 700px;
            border-radius: 15px;
          }
        }
      }
    }

  }


  #aboutContainer {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(0,133,255);
    background: linear-gradient(349deg, rgba(0,133,255,1) 0%, rgba(44,173,245,1) 100%);

    h1 {
      color: #fff;
      font-size: 50px;
    }

    p {
      color: #fff;
      font-size: 30px;
      text-align: center;
    }
  }



  #clientsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;

    width: 100%;
    height: fit-content;
    background-color: #fff;
    h1 {
      padding: 2rem;
    }
    .clientGroup {
      display: grid;
      grid-template-columns: repeat(3, 250px);
      gap: 30px;
    }
  }
}


/** Responsividade 1100 px **/
