<section>
  <div class = "content">
    <div class = "title">
      <h1>Bem vindo a <span>UPTECH</span></h1>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="d-block w-100">Peças em Aço Inox</p>
        </div>
        <div class="carousel-item">
          <p class="d-block w-100">Manutenção Industrial</p>
        </div>
        <div class="carousel-item">
          <p class="d-block w-100">Caldeiraria Leve</p>
        </div>
      </div>
    </div>
  </div>
  <div class="apresentation">
    <p>Nosso negócio proporciona aos nossos clientes soluções únicas, seguras, eficiêntes e rápidas, através de materiais e mão de obra qualificada.</p>
    <p>Atuamos dentro de nossa base tecnológica e mercadológica visando a constante melhoria dos nossos trabalhos.</p>
    <p>Buscamos vantagens competitiva que garantam a rentabilidade e o crescimento necessário para a continuidade dos negóios.</p>
  </div>
</section>


