* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  min-height: 100%;
  background: linear-gradient(90deg,#3a47d5 0%, #00d2ff 100%);


    .card {
      width: 800px;


      .card-header {
        padding: 1rem 2rem;

        img {
          width: 150px;
        }
      }

      .card-body {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h5 {
          text-align: left;
          font-size: 30px;
        }

        p {
          font-size: 20px;
          text-align: left;
        }
      }

      .card-footer {
        padding: 1rem 2rem;
      }

    }

}
