* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(48, 145, 255);
  .container {


    h1 {
      text-align: center;
      padding: 1rem;
      color: #fff;
    }

    .clientGroup {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px,1fr));
      gap: 20px;

      background-color: #fff;
      border-radius: 30px;
      padding: 1rem;
      margin: 1rem;
      justify-items: center;
      align-items: center;

      img {
        max-width: 150px;
      }
    }
  }
}

@media screen and (max-width: 500px) {

  section {

    span {
      .container {

        h1 {
          font-size: 30px;
        }

        .clientGroup {
          display: grid;
          grid-template-columns: repeat(1, minmax(100px,1fr));
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {

  section {

    span {
      .container {
        height: 100vh;
        h1 {
          font-size: 30px;
        }

        .clientGroup {
          display: grid;
          grid-template-columns: repeat(2, minmax(150px,1fr));
          gap: 20px;
        }
      }
    }
  }
}

