.container {
  align-items: center;
  justify-content: center;
  height: 100%;

  form {
    padding: 7rem 0rem;
  }
  .buttons {
    width: 170px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 375px) {
  .container {

    form {
      padding: 2rem 0rem;
    }
    .buttons {
      display: flex;
      width: 340px;
      justify-content: space-between;
    }
  }
}
